{{ "<!-- details page -->" | safeHTML }}
<section class="single section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="bg-white pl-lg-4 py-4 pr-4 mb-5 mb-lg-0 sticky-top top-100 overflow-hidden">
          <ul class="list-styled">
            {{ $currentNode := . }}
            <a class="d-block h4 back-btn" href="{{ .Site.BaseURL | relLangURL }}">{{ i18n "Back-home"}}</a>
            {{range .Site.Home.Sections.ByWeight}}
              {{ if eq .FirstSection $currentNode.FirstSection }} {{/* print current section only */}}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode}}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="p-lg-5 p-4 bg-white">
          <h2 class="mb-5">{{ .Title }}</h2>
          {{ if .Content }}
          <div class="content">{{.Content}}</div>
          {{ else }}
          <div class="bg-light p-4">
            <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            </ul>
          </div>
          {{ end }}
          <p class="post-meta border-bottom pb-3 mb-0 mt-3">Updated on {{ .Lastmod.Format "02 Jan 2006" }}</p>
          
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="sidelist
  {{if eq $fileUniqueID $currentNodeFileUniqueID}}active{{end}}">
  <a href="{{.Permalink}}">
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ if ne $numberOfPages 0 }}
    <ul>
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}