{# Import the theme's layout. #}
{% extends "!layout.html" %}

{% block menu %}
    {{ super() }}

    {% if menu_links %}
        <p class="caption">
            <span class="caption-text">Getting help</span>
        </p>
        <ul>
            {% for text, link in menu_links %}
                <li class="toctree-l1"><a href="{{ link }}">{{ text }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{#

    This template exists as a way to implement a version menu without changing what
    the theme normally renders the menu on local builds and on builds on Read the
    Docs. This is for local testing purposes only.
    
    #}
    
    {% block footer %}
      {% if not READTHEDOCS %}
        <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
          <span class="rst-current-version" data-toggle="rst-current-version">
            <span class="fa fa-book"> {{ project }}</span>
            v: latest
            <span class="fa fa-caret-down"></span>
          </span>
          <div class="rst-other-versions">
            <dl>
              {% if pdf_versions %}
                {% for version, link in pdf_versions %}
                <dd><a href="{{ link }}/{{ latex_main }}.pdf">{{ version }}</a></dd>
                {% endfor %}
              {% else %}
                <dd><a href="#">latest</a></dd>
                <dd><a href="#">1.0</a></dd>
                <dd><a href="#">1.1</a></dd>
              {% endif %}
          </div>
        </div>
      {% endif %}
    {% endblock %}
